{% extends 'base.html.twig' %}

{% block body %}
    <div class="" >
        

        <h1>Welcome to Pig House</h1>
        <p>An application where you can manage your money with others Pigs</p>
       
    </div>

{% endblock %}