{% extends 'base.html.twig' %}

{% block body %}
    <div class="" >
        
        <form>
            <label>house name</label><input></input>
            
            <input>password</input>
            
        </form>    
       
    </div>

{% endblock %}