<h1>raspberry command utls</h1>

<p>raspi-config</p>
<p>sudo apt-get update</p>
<p>sudo apt-get upgrade</p><p></p><p></p>



installer phpmyadmin
apt-get install mcrypt
 /etc/init.d/apache2 restart
  apt-get install mysql-server
  
  apt-get install phpmyadmin
  
   mysql --user=root --password=password   
  
   
   winscp pour envoyer fichiers au serveur
   à tester : utiliser git
   
   site accessible depuis serveur local
 
 pour màj lmes js /css
 
    
     yarn run encore dev --watch
     
     poour rajouter specific js à une page
     
     + {% block javascripts %}
+     {{ parent() }}
+     {{ encore_entry_script_tags('checkout') }}
+ {% endblock %}

utiliser à chaque fois qu'on fiat modif js 

yarn run encore dev 