<h1>raspberry command utls</h1>

<p>raspi-config</p>
<p>sudo apt-get update</p>
<p>sudo apt-get upgrade</p><p></p><p></p>



installer phpmyadmin
apt-get install mcrypt
 /etc/init.d/apache2 restart
  apt-get install mysql-server
  
  apt-get install phpmyadmin
  
   mysql --user=root --password=password   
  
   
   winscp pour envoyer fichiers au serveur
   à tester : utiliser git
   
   site accessible depuis serveur local
 

    