/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 avr. 2019, 01:09:01
    Author     : Yu-Pa
*/

.red{
    color: #c9302c ;
}
.green{
    color: #449d44  ;
}
.button-red{
    background-color: #c9302c;
    color: white;
}

.button-green{
    background-color: #449d44;
    color: white;
}