<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
         <link href="{{ asset('build/action-action.css') }}" rel="stylesheet">
        <script src="{{ asset('build/app.js') }}"></script>
       
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body >
      

        {{include('menuNavigation.html.twig') }}

        <div id="main_block_body">
            
                {% block body %}


                {% endblock %}
        </div>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
